@import '../variables';

.categories {
    display: flex;
    justify-content: space-between;
    // max-width: 100%;
    width: 100%;

    // flex-direction: row;
    // flex-wrap: wrap;


  // .container{
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;

  // }

  ul {
    display: flex;
    flex-wrap: wrap; //new
    max-width: 100%;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      transition: background-color 0.1s ease-in-out;
      @include noselect();
      justify-content: space-between;
      // flex-wrap: wrap;
      


      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
