@import "../variables.scss";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 645px) {
      flex-direction: column;

      .header__cart {
        // margin-bottom: 20px;
        margin-top: 20px;
      }
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }

  &__cart {
    /* Rectangle 3 */

    // position: absolute;
    display: flex;
    width: 150px;
    height: 50px;
    left: 1197px;
    top: 95px;
    background: #fe5f1e;
    border-radius: 30px;
    color: #fe5f1e img {
      display: flex;
      margin-right: 10px;
    }

    span {
      // display: flex;
      // position: absolute;
      display: flex;
      margin-bottom: 5px;
      margin-left: 0px;
      margin-right: 5px;
      margin-top: 15px;
      width: 43px;
      height: 19px;
      left: 1220px;
      top: 110px;

      // font-family: "Proxima Nova";
      // font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 19px;

      color: #ffffff;
    }

    img {
      display: flex;
      margin-bottom: 8px;
      margin-left: 40px;

      margin-right: 10px;
      margin-top: 30px;
      // position: absolute;
    }

    svg {
      position: relative;
      top: -1p;
      display: flex;
      width: 50;
      height: 50;
      margin-right: 30px;
      margin-top: 0px;
    }

    span {
      display: flex;
      font-weight: 60;
      margin-bottom: 5px;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 0px;
      // position: relative;
      top: 20px;
      // font-family: "Proxima Nova";
      // font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
    }
  }
}
