.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // min-height: 400px;
  text-align: center;
  padding: 100px 0;
  width: 750px;
  margin: 0 auto;

  span {
    font-size: 78px;
  }

  .description {
    font-size: 22px;
  }
}
